<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="vendor/css/element-plus.css">
  <link rel="stylesheet" href="css/main.css">

  <script src="vendor/js/jquery-3.7.1.js"></script>
  <script src="vendor/js/vue.global.prod.js"></script>
  <script src="vendor/js/vuex.global.prod.js"></script>
  <script src="vendor/js/vue-router.global.prod.js"></script>
  <script src="vendor/js/lodash-4.17.21.js"></script>
  <script src="vendor/js/tailwindcss-3.4.5.js"></script>
  <script src="vendor/js/element-plus.js"></script>
  <script src="js/main.js"></script>
</head>
<body>
  <div id="app" class="mx-[auto] p-4 max-w-[1300px]">
    <router-view />
  </div>
</body>
</html>
