<div v-loading="!loaded">
  <el-table :data="list" height="600" border style="width: 100%">
    <el-table-column prop="Id" label="编号" width="90" sortable />
    <el-table-column prop="Name" label="名称" />
    <el-table-column prop="MasterPortName" label="总部港口" />
    <el-table-column prop="Money" label="金钱" width="150">
      <template #default="scope">
        {{ scope.row.Money }}
        <el-button v-if="scope.row.Id !== $store.state.currentOrg.Id" type="danger" @click="handleChangeMoney(scope.row.Id)">减少敌方金钱</el-button>
      </template>
    </el-table-column>
    <el-table-column prop="TotalAreaValue" label="综合势力值" />
    <el-table-column prop="AreaValue0" label="北海" />
    <el-table-column prop="AreaValue1" label="地中海" />
    <el-table-column prop="AreaValue2" label="非洲" />
    <el-table-column prop="AreaValue3" label="印度洋" />
    <el-table-column prop="AreaValue4" label="东南亚" />
    <el-table-column prop="AreaValue5" label="东亚" />
    <el-table-column prop="AreaValue6" label="新大陆" />
  </el-table>
</div>