<div>
  <el-table :data="list" height="600" border style="width: 100%">
    <el-table-column prop="Id" label="编号" width="90" sortable />
    <el-table-column prop="Name" label="名称" />
    <el-table-column prop="OrgName" label="所属势力" sortable />
    <el-table-column prop="Metrics0" label="体力" />
    <el-table-column prop="Metrics1" label="运气" />
    <el-table-column prop="Metrics2" label="智力" />
    <el-table-column prop="Metrics3" label="魅力" />
    <el-table-column prop="Metrics4" label="敏捷" />
    <el-table-column prop="Metrics5" label="精神" />
    <el-table-column prop="Exps0" label="经验1" />
    <el-table-column prop="Exps1" label="经验2" />
  </el-table>
</div>

