<div v-loading="!loaded">
  <el-table :data="list" height="600" border style="width: 100%">
    <el-table-column prop="Id" label="编号" width="90" sortable />
    <el-table-column prop="Name" label="名称" />
    <el-table-column prop="DevelopmentValue" label="发展度" />
    <el-table-column prop="ArmamentValue" label="武装度" />
    <el-table-column prop="OrgName1" label="占有率1-势力名" />
    <el-table-column prop="Possession1" label="占有率1-值" />
    <el-table-column prop="OrgName2" label="占有率2-势力名" />
    <el-table-column prop="Possession2" label="占有率2-值" />
    <el-table-column prop="OrgName3" label="占有率3-势力名" />
    <el-table-column prop="Possession3" label="占有率3-值" />
  </el-table>
</div>


